@import "variables";
@import "node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";

.oswald {
  font-family: 'Oswald', sans-serif;
}

.gradient-green {
  @include linear-gradient(to top, darken($theme-green, 20%), $theme-green);
}

.gradient-blue {
  @include linear-gradient(to top, darken($theme-blue, 20%), $theme-blue);
}

#sidebar-wrapper {

  @include linear-gradient(to top, darken($theme-green, 25%), darken($theme-green, 8%));

  .entypo {
font-size: 22px;
   }

}

.btn-xs {
  border-radius: 20px;
  padding: 0 20px;
}

