$theme-green: #40AE48;
.form-component {
  label {
    font-weight: normal;
    text-transform: capitalize;
  }
}
header.landing h1, .headline {
  font-size: 90px;
}

.theme-border {
  border-top: 5px solid $theme-green;
  &-bottom {
    border-bottom: 5px solid $theme-green;
  }
}
