@import "variables";

.navbar-static-top {

  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.30);

  &:hover {
    background-color: rgba(255, 255, 255, 0.75);
  }

}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  font-family: 'Roboto Slab', serif;

}

header.landing {
  h1, .headline {
    font-size: 101px;
    font-family: 'Roboto Slab', serif;
    text-shadow: #000 2px 3px 5px;
    font-weight: 400;
  }
  .lead {
    text-shadow: #000 2px 3px 5px;
    font-size: 36px;
  }
}

p.h1 {
  font-size: 60px;
  padding-bottom: 20px;
  color: $theme-blue;
}

section.actions.signup {
  background-color: darken($theme-green, 5%);
  padding: 60px 0;

  .panel {
    border-radius: 15px;
  }

  .h1 {
    color: #fff;

  }
}

.btn {
  border-radius: 40px;
  radius-small  {
    border-radius: 15px;
  }
}
